<form class="form-sign form-signin" action="" method="post" accept-charset="utf-8">
  <h2 class="form-sign-heading">登录</h2>
  <input type="text" name="" id="" value="" class="form-control" placeholder="邮箱地址" required autofocus>
  <input type="password" name="" id="" value="" class="form-control" placeholder="密码" required>
  <label class="checkbox" for="">
    <input type="checkbox" name="" id="" value="remember-me"> Remember me
  </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
