<form class="form-sign form-signup" action="" method="post" accept-charset="utf-8">
  <h2 class="form-sign-heading">注册</h2>
  <input type="text" name="" id="" value="" class="form-control form-signup-name" placeholder="用户名" required autofocus>
  <input type="text" name="" id="" value="" class="form-control form-signup-email" placeholder="邮箱地址" required>
  <input type="password" name="" id="" value="" class="form-control form-signup-password" placeholder="密码" required>
  <input type="password" name="" id="" value="" class="form-control form-signup-confirm" placeholder="确认密码" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>
