<div class="user-list">
  <% @users.each do |user| %>
    <div class="user-item">
      <%= avatar_image(user, 48) %>
      <%= link_to_user user %>
    </div>
  <% end %>
  <%= paginate @users %>
</div>
