.form-signin {
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.form-signup {
  .form-signup-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
  }
  .form-signup-email, .form-signup-password {
    border-radius: 0;
    margin-bottom: -1px;
  }
  .form-signup-confirmation {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
  }
}
