.user-list {
  padding: 40px 50px;
  .user-item {
    border: 1px solid #CCC;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #CCC;
    margin-bottom: 10px;
    width: 100%;
  }
}

.user-show {
  text-align: center;
  padding-top: 40px;
  .avatar {
    border-radius: 50%;
  }
}
